.skills-page
        h1{
            font-size: 53px;
            font-family: 'Coolvetica';
            color: #DC3231;
            font-weight: 400;
            margin-top: 0;
            position: relative;
            margin-bottom: 500px;
            left: 10%;
            
        }
       
        .icon1{
            height: 50px;
            width: 50px;
            display: inline-block;
            font-size: 100px;
            margin-left: 20px;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 40%;
            bottom: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            animation: fadeIn 2s 2.7s backwards;
            
            h2{
                font-size: 25px;
                font-family: 'Coolvetica';
                color: #DC3231;
                font-weight: 400;
                margin-top: 0;
                position: relative;
                margin-bottom: 500px;
                left: 10px;
                animation: fadeIn 2s 2.7s backwards;
                }
                
            
        }
        .icon2{
            height: 50px;
            width: 50px;
            display: inline-block;
            font-size: 100px;
            margin-left: 20px;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 70%;
            bottom: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            animation: fadeIn 2s 2.7s backwards;
            h2{
                font-size: 25px;
                font-family: 'Coolvetica';
                color: #DC3231;
                font-weight: 400;
                margin-top: 0;
                position: relative;
                margin-bottom: 500px;
                left: 10px;
                animation: fadeIn 2s 2.7s backwards;
                }
        }
        .icon3{
            height: 50px;
            width: 50px;
            display: inline-block;
            font-size: 100px;
            margin-left: 20px;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 100%;
            bottom: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            animation: fadeIn 2s 2.7s backwards;
            h2{
                font-size: 25px;
                font-family: 'Coolvetica';
                color: #DC3231;
                font-weight: 400;
                margin-top: 0;
                position: relative;
                margin-bottom: 500px;
                left: 10px;
                animation: fadeIn 2s 2.7s backwards;
                }
        }
        .icon4{
            height: 50px;
            width: 50px;
            display: inline-block;
            font-size: 100px;
            margin-left: 20px;
            margin: 0;
            position: absolute;
            top: 53%;
            left: 130%;
            bottom: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            animation: fadeIn 2s 2.7s backwards;
            h2{
                font-size: 25px;
                font-family: 'Coolvetica';
                color: #DC3231;
                font-weight: 400;
                margin-top: 0;
                position: relative;
                margin-bottom: 500px;
                left: 10px;
                top: -36%;
                animation: fadeIn 2s 2.7s backwards;
                }
        }
        .icon5{
            height: 50px;
            width: 50px;
            display: inline-block;
            font-size: 100px;
            margin-left: 20px;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 160%;
            bottom: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            animation: fadeIn 2s 2.7s backwards;
            h2{
                font-size: 25px;
                font-family: 'Coolvetica';
                color: #DC3231;
                font-weight: 400;
                margin-top: 0;
                position: relative;
                margin-bottom: 500px;
                left: 10px;
                animation: fadeIn 2s 2.7s backwards;
                }
        }
        .icon6{
            height: 50px;
            width: 50px;
            display: inline-block;
            font-size: 100px;
            margin-left: 20px;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 190%;
            bottom: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            animation: fadeIn 2s 2.7s backwards;
            h3{
                font-size: 25px;
                font-family: 'Coolvetica';
                color: #DC3231;
                font-weight: 400;
                margin-top: 0;
                position: relative;
                margin-bottom: 500px;
                left: 25px;
                animation: fadeIn 2s 2.7s backwards;
                }

        }



      
        
        
    
           